In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf

In [105]:
# Historical data for multiple companies areobtained here with the download module.
# Here we obtain the information onstock trend for the year 2022 till today's date, and date is included as a column with the reset_index() method
data = yf.download("SPY AMZN CEG FLT GOOG HAL JCI META MTCH TMUS URI",period = 'ytd',threads = True).reset_index()
data.head(15)

[*********************100%***********************]  11 of 11 completed

         Date   Adj Close                                                \
                     AMZN        CEG         FLT        GOOG        HAL
0  2022-01-03  170.404495        NaN  231.110001  145.074493  23.739481
1  2022-01-04  167.522003        NaN  237.250000  144.416504  25.164444
2  2022-01-05  164.356995        NaN  237.300003  137.653503  24.917053
3  2022-01-06  163.253998        NaN  239.259995  137.550995  25.342566
4  2022-01-07  162.554001        NaN  243.029999  137.004501  25.748283
5  2022-01-10  161.485992        NaN  238.020004  138.574005  25.580059
6  2022-01-11  165.362000        NaN  243.580002  140.017502  26.955544
7  2022-01-12  165.207001        NaN  243.660004  141.647995  27.153454
8  2022-01-13  161.214005        NaN  246.210007  139.130997  27.638336
9  2022-01-14  162.138000        NaN  244.000000  139.786499  28.439877
10 2022-01-18  158.917496        NaN  238.220001  136.290497  28.301342
11 2022-01-19  156.298996  41.684986  237.580002  135.651993  28.083635
12 2022-01-20  151.667496  44.662483  233.589996  133.506500  27.846144
13 2022-01-21  142.643005  44.662483  226.410004  130.091995  27.252411
14 2022-01-24  144.544006  42.478981  225.449997  130.371994  28.291445

                                                   ...    Volume          \
          JCI        META        MTCH         SPY  ...       CEG     FLT
0   77.803650  338.540009  134.229996  472.242310  ...       NaN  607300
1   78.774361  336.529999  132.970001  472.084137  ...       NaN  560000
2   77.489883  324.170013  125.519997  463.019135  ...       NaN  748200
3   78.813568  332.459991  126.059998  462.584137  ...       NaN  540900
4   77.725204  331.790009  125.269997  460.755310  ...       NaN  717400
5   76.881966  328.070007  126.559998  460.181976  ...       NaN  809700
6   78.009552  334.369995  126.000000  464.373444  ...       NaN  687100
7   78.470398  333.260010  124.080002  465.628876  ...       NaN  532300
8   76.901581  326.480011  123.199997  459.213135  ...       NaN  537200
9   75.068024  331.899994  121.150002  459.401001  ...       NaN  509500
10  73.283485  318.149994  115.870003  451.265198  ...       NaN  606000
11  72.273560  319.589996  116.269997  446.579437  ...  129900.0  443800
12  71.283234  316.559998  118.660004  441.636658  ...  153400.0  542600
13  71.302856  303.170013  115.839996  432.967041  ...  329500.0  566200
14  72.352005  308.709991  117.250000  434.805756  ...  110000.0  937900

                                                                         \
        GOOG       HAL      JCI      META     MTCH        SPY      TMUS
0   25214000   9199200  3598900  14537900  2364900   72668200   6673700
1   22928000  17741700  2941500  15998000  2445800   71178700   7336100
2   49642000  11741400  2944100  20564500  2813600  104538900   8059200
3   29050000   8984600  2925200  27962800  2258000   86858900   4659400
4   19408000   8115100  2759900  14722000  1262600   85111600  11766800
5   34096000  10612600  2832400  24942400  2109600  119362000   9615900
6   23502000  13232400  2518500  16226800  1809500   74303100   8358900
7   23642000  12482900  2467900  14104900  2087100   67605400   4962500
8   26566000  14906400  2653300  14797100  2610900   91173100   4164800
9   23826000  13120200  3376400  16868500  2147800   95890900   3801500
10  27382000  12294200  4331600  22645600  3512100  109709100   4960600
11  20796000  10423300  3209300  20814700  1867500  109357600   3898300
12  21930000  12387500  3914600  16925000  2118000  122379700   4795700
13  41920000  14362800  4563800  28710700  3249300  202271200   6504200
14  55148000  18874000  5566400  38878100  4165400  251783900   8814300


        URI
0    524400
1    698800
2    801100
3    537000
4    796000
5    794700
6    885700
7   1032200
8    731700
9    589000
10   764300
11   663800
12   732500
13   938000
14  1302200

[15 rows x 67 columns]

In [19]:
# We create a dataframe depicting the closing prices of the growth stocks.
# This achieved by concatenating a series containing the respective date along with the closing prices for the stocks and that particular date

frames = (data['Date'],data['Close'])
growthStockTrend = pd.concat(frames, axis = 1).fillna(0)
growthStockTrend

,Date,AMZN,CEG,FLT,GOOG,HAL,JCI,META,MTCH,SPY,TMUS,URI
0,2022-01-03,170.404495,0.000000,231.110001,145.074493,23.990000,79.349998,338.540009,134.229996,477.709991,114.430000,330.640015
1,2022-01-04,167.522003,0.000000,237.250000,144.416504,25.430000,80.339996,336.529999,132.970001,477.549988,114.059998,347.089996
2,2022-01-05,164.356995,0.000000,237.300003,137.653503,25.180000,79.029999,324.170013,125.519997,468.380005,115.360001,335.019989
3,2022-01-06,163.253998,0.000000,239.259995,137.550995,25.610001,80.379997,332.459991,126.059998,467.940002,115.570000,335.170013
4,2022-01-07,162.554001,0.000000,243.029999,137.004501,26.020000,79.269997,331.790009,125.269997,466.089996,109.739998,325.980011
...,...,...,...,...,...,...,...,...,...,...,...,...
192,2022-10-07,114.559998,84.389999,179.589996,99.570000,30.410000,50.439999,133.449997,48.290001,362.790009,137.589996,284.519989
193,2022-10-10,113.669998,84.720001,175.690002,98.709999,29.549999,50.669998,133.789993,48.200001,360.019989,137.729996,282.019989
194,2022-10-11,112.209999,82.879997,171.179993,98.050003,29.559999,51.049999,128.539993,47.139999,357.739990,137.149994,277.760010
195,2022-10-12,112.900002,82.160004,169.259995,98.300003,29.799999,51.029999,127.500000,46.759998,356.559998,132.940002,276.579987
196,2022-10-13,112.000000,83.510002,169.404999,99.699997,31.245001,51.970001,129.735001,46.000000,363.119995,133.059998,284.230011

In [127]:
    
global change_dict
    
stock_dict = {'SPY':[],'AMZN':[],'FLT':[],'CEG':[],'GOOG':[],'HAL':[],'JCI':[],'META':[],'MTCH':[],'TMUS':[],'URI':[],}
    
    
def changeCalculator():
# ,"CEG","AMZN","FLT","GOOG","HAL","JCI","META","MTCH", "TMUS", "URI"
    company_list = ["SPY","AMZN","FLT","CEG","GOOG","HAL","JCI","META","MTCH","TMUS","URI"]
    
    
    for company in company_list:
        
        if company =='CEG':
             
                n = 11
    
                while n <= (len(growthStockTrend)-2):
        
                    End = growthStockTrend.loc[n+1,'CEG'] 
            
                    Start = growthStockTrend.loc[11,'CEG']
            
                    Diff = End - Start
            
                    Change = int(str(round(((Diff/Start)*100))))
        
                    n = n+1
        
                    stock_dict[company].append(Change)
        else:
    
            n = 0
        
            while n <= (len(growthStockTrend)-2):
            
                End = growthStockTrend.loc[n+1,company] 
            
                Start = growthStockTrend.loc[0,company]
            
                Diff = End - Start
            
                Change = int(str(round(((Diff/Start)*100))))
            
                n = n+1
            
                stock_dict[company].append(Change)
              
changeCalculator()

len(stock_dict['AMZN'])

196

In [128]:
# Here we fix the uneven array CEG in the dictionary
def fixCEG():
    n = 0
    while n < 11:
        stock_dict['CEG'].insert(0,1)
        n = n+1
        
fixCEG()
len(stock_dict['CEG'])

196

In [129]:
type(stock_dict['AMZN'][20])

int

In [131]:
stockPriceChange = pd.DataFrame.from_dict(stock_dict)

frames = (data['Date'],stockPriceChange)

pricefluctuation = pd.concat(frames, axis)
stockPriceChange.to_excel('stockPriceChange.xlsx')

In [124]:
# Difference between the two prices is what % of the start price
def percentChange():
    company_list = ["SPY","AMZN","CEG","FLT","GOOG","HAL","JCI","META","MTCH", "TMUS", "URI"]
    for company in company_list:
#         
        if (company == 'CEG'):
            # This is because we don't have the price for untill the 11th index position
            Start = growthStockTrend.loc[11,company] 
        else:
            Start = growthStockTrend.loc[0,company]
        End = growthStockTrend.loc[len(growthStockTrend)-1,company]
        Diff = End - Start
        Change = str(round(((Diff/Start)*100)))
        print(company + ' stock price change : '+ Change +' % ')
    
    
percentChange()

SPY stock price change : -24 %
AMZN stock price change : -34 %
CEG stock price change : 99 %
FLT stock price change : -27 %
GOOG stock price change : -31 %
HAL stock price change : 30 %
JCI stock price change : -35 %
META stock price change : -62 %
MTCH stock price change : -66 %
TMUS stock price change : 16 %
URI stock price change : -14 %

In [5]:
growthStockTrend.to_excel('growthStockTrend.xlsx')

In [8]:
# company_list = ["SPY","AMZN","CEG","FLT","GOOG","HAL","JCI","META","MTCH", "TMUS", "URI"]

# company_data = {}

# for company in company_list:
    # company_object = yf.Ticker(company)
    
    # temp = pd.DataFrame.from_dict(company_object.info, orient ='index')
    # temp.reset_index(inplace = True)
    # temp.columns = ["Attribute","Recent"]
    
    # company_data[company]= temp

# company_data

# fundamentalData = pd.concat(company_data).reset_index()
# fundamentalData