In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf

In [45]:
# Historical data for multiple companies areobtained here with the download module.
# Here we obtain the information onstock trend for the year 2022 till today's date, and date is included as a column with the reset_index() method
data = yf.download("SPY AMZN CEG FLT GOOG HAL JCI META MTCH TMUS URI",period = 'ytd',threads = True).reset_index()
data.head()

[*********************100%***********************]  11 of 11 completed

        Date   Adj Close                                                    \
                    AMZN CEG         FLT        GOOG        HAL        JCI
0 2022-01-03  170.404495 NaN  231.110001  145.074493  23.739479  77.803650
1 2022-01-04  167.522003 NaN  237.250000  144.416504  25.164442  78.774361
2 2022-01-05  164.356995 NaN  237.300003  137.653503  24.917053  77.489891
3 2022-01-06  163.253998 NaN  239.259995  137.550995  25.342564  78.813576
4 2022-01-07  162.554001 NaN  243.029999  137.004501  25.748283  77.725212

                                       ... Volume                              \
         META        MTCH         SPY  ...    CEG     FLT      GOOG       HAL
0  338.540009  134.229996  472.242310  ...    NaN  607300  25214000   9199200
1  336.529999  132.970001  472.084137  ...    NaN  560000  22928000  17741700
2  324.170013  125.519997  463.019104  ...    NaN  748200  49642000  11741400
3  332.459991  126.059998  462.584167  ...    NaN  540900  29050000   8984600
4  331.790009  125.269997  460.755341  ...    NaN  717400  19408000   8115100


       JCI      META     MTCH        SPY      TMUS     URI
0  3598900  14537900  2364900   72668200   6673700  524400
1  2941500  15998000  2445800   71178700   7336100  698800
2  2944100  20564500  2813600  104538900   8059200  801100
3  2925200  27962800  2258000   86858900   4659400  537000
4  2759900  14722000  1262600   85111600  11766800  796000

[5 rows x 67 columns]

In [14]:
# We create a dataframe depicting the closing prices of the growth stocks.
# This achieved by concatenating a series containing the respective date along with the closing prices for the stocks and that particular date

frames = (data['Date'],data['Close'])
growthStockTrend = pd.concat(frames, axis = 1).fillna(0)
growthStockTrend.head()

,Date,AMZN,CEG,FLT,GOOG,HAL,JCI,META,MTCH,SPY,TMUS,URI
0,2022-01-03,170.404495,0.0,231.110001,145.074493,23.990000,79.349998,338.540009,134.229996,477.709991,114.430000,330.640015
1,2022-01-04,167.522003,0.0,237.250000,144.416504,25.430000,80.339996,336.529999,132.970001,477.549988,114.059998,347.089996
2,2022-01-05,164.356995,0.0,237.300003,137.653503,25.180000,79.029999,324.170013,125.519997,468.380005,115.360001,335.019989
3,2022-01-06,163.253998,0.0,239.259995,137.550995,25.610001,80.379997,332.459991,126.059998,467.940002,115.570000,335.170013
4,2022-01-07,162.554001,0.0,243.029999,137.004501,26.020000,79.269997,331.790009,125.269997,466.089996,109.739998,325.980011

In [50]:
    
global change_dict
    
change_dict = {'SPY':[],'AMZN':[],'FLT':[],'GOOG':[],'HAL':[],'JCI':[],'META':[],'MTCH':[],'TMUS':[],'URI':[],}
    
    
def changeCalculator():
# ,"CEG","AMZN","FLT","GOOG","HAL","JCI","META","MTCH", "TMUS", "URI"
    company_list = ["SPY","AMZN","FLT","GOOG","HAL","JCI","META","MTCH","TMUS","URI"]
    
    
    for company in company_list:
        
        n = 0
        
        while n <= (len(growthStockTrend)-2):
            
            End = growthStockTrend.loc[n+1,company] 
            
            Start = growthStockTrend.loc[0,company]
            
            Diff = End - Start
            
            Change = str(round(((Diff/Start)*100)))
            
            n = n+1
            
            change_dict[company].append(Change)
    
    return change_dict

In [51]:
def changeFrame(data):
    changeTracker = pd.DataFrame.from_dict(data)
    return changeTracker

changeFrame(changeCalculator())

     SPY AMZN  FLT GOOG HAL  JCI META MTCH TMUS  URI
0      0   -2    3    0   6    1   -1   -1    0    5
1     -2   -4    3   -5   5    0   -4   -6    1    1
2     -2   -4    4   -5   7    1   -2   -6    1    1
3     -2   -5    5   -6   8    0   -2   -7   -4   -1
4     -3   -5    3   -4   8   -1   -3   -6   -8   -3
..   ...  ...  ...  ...  ..  ...  ...  ...  ...  ...
190  -22  -29  -21  -30  24  -34  -59  -62   22  -11
191  -24  -33  -22  -31  27  -36  -61  -64   20  -14
192  -25  -33  -24  -32  23  -36  -60  -64   20  -15
193  -25  -34  -26  -32  23  -36  -62  -65   20  -16
194  -25  -34  -27  -32  24  -36  -62  -65   16  -16

[195 rows x 10 columns]

In [60]:
def cegCalculator():
    n = 11
    global cegDict
    cegDict = {'CEG':[]}
    
    while n <= (len(growthStockTrend)-2):
        
        End = growthStockTrend.loc[n+1,'CEG'] 
            
        Start = growthStockTrend.loc[11,'CEG']
            
        Diff = End - Start
            
        Change = str(round(((Diff/Start)*100)))
        
        n = n+1
        
        cegDict['CEG'].append(Change)
    
    return cegDict
    
changeFrame(cegCalculator())

     CEG
0      7
1      7
2      2
3      0
4      3
..   ...
179  105
180  101
181  102
182   97
183   96

[184 rows x 1 columns]

In [43]:
# Difference between the two prices is what % of the start price
def percentChange():
    company_list = ["SPY","AMZN","CEG","FLT","GOOG","HAL","JCI","META","MTCH", "TMUS", "URI"]
    for company in company_list:
#         
        if (company == 'CEG'):
            # This is because we don't have the price for untill the 11th index position
            Start = growthStockTrend.loc[11,company] 
        else:
            Start = growthStockTrend.loc[0,company]
        End = growthStockTrend.loc[len(growthStockTrend)-1,company]
        Diff = End - Start
        Change = str(round(((Diff/Start)*100)))
        print(company + ' stock price change : '+ Change +' % ')
    
    
percentChange()

SPY stock price change : -25 %
AMZN stock price change : -34 %
CEG stock price change : 96 %
FLT stock price change : -27 %
GOOG stock price change : -32 %
HAL stock price change : 24 %
JCI stock price change : -36 %
META stock price change : -62 %
MTCH stock price change : -65 %
TMUS stock price change : 16 %
URI stock price change : -16 %

In [5]:
growthStockTrend.to_excel('growthStockTrend.xlsx')

In [7]:
# company_list = ["SPY","AMZN","CEG","FLT","GOOG","HAL","JCI","META","MTCH", "TMUS", "URI"]

# company_data = {}

# for company in company_list:
    # company_object = yf.Ticker(company)
    
    # temp = pd.DataFrame.from_dict(company_object.info, orient ='index')
    # temp.reset_index(inplace = True)
    # temp.columns = ["Attribute","Recent"]
    
    # company_data[company]= temp

# company_data

# fundamentalData = pd.concat(company_data).reset_index()
# fundamentalData